html {
  font-family: "Noto Sans Japanese", sans-serif;
  font-family: "Noto Sans", sans-serif;
}

.list-group-item-inline, .header-nav-ul-li-a {
  display: inline-block;
  color: #b64c6e;
  text-decoration: none;
}

.header-nav-ul-li-a {
  border-bottom: 1px solid #b64c6e;
}

.header-nav-ul-li-a:hover {
  color: #860927;
  border-bottom: 1px solid #860927;
}

hr {
  border-color: #e2e2e2;
}

.btn-a, .btn, .btn-ghost {
  text-decoration: none;
  color: #d89fb0;
  border-color: #d89fb0;
}

.btn:hover, .btn-a:hover {
  color: #860927;
  background-color: #d89fb0;
  border-color: #860927;
}

@media only screen and (min-width: 60em) {

  .title {
    text-align: left;
  }

  .header-nav {
    text-align: right;
  }
}
